<div class="card bg-white rounded-lg shadow mb-2 animated fadeIn">
    <div class="card-body">
        <h1 class="text-aqua-dark mb-3">Perfil Médico</h1>

        <!-- Mesaje de cargando -->
        <div *ngIf="!medic; else main_content" class="container">
            <div class="row">
                <div class="mx-auto d-flex align-items-center">
                    <h1 class="text-aqua-dark mr-2">Cargando...</h1>
                    <span *ngIf="loading" class="spinner-border text-aqua-dark"></span>
                </div>
            </div>
        </div>

        <!-- Informacion del medico -->
        <ng-template #main_content>
            <div class="row mb-4">
                <div class="col-md-4 d-flex justify-content-center">
                    <img [src]="'https://api-consultorio-web.herokuapp.com/' + medic.imagePath" *ngIf="avatar"
                        class=" imgfluid imgRedonda border">
                    <i class="fas fa-user-circle fa-10x text-aqua-dark" *ngIf="!avatar"></i>
                </div>
                
                <div class="col-12 col-md-8 d-flex justify-content-center">
                    <div class="col-12 col-md-12 col-lg-11 mt-3 mt-md-0">
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Usuario:</strong>
                                <div class="col-12 col-md-7">{{ medic.username }}</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Nombre:</strong>
                                <div class="col-12 col-md-7">{{ medic.firstName }}  {{ medic.lastName }}</div>
                            </div>
                        </div>
                        <div class="card" *ngIf="!isReception">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Especialidad:</strong>
                                <div class="col-12 col-md-7">{{ medic.specialty }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Género:</strong>
                                <div class="col-12 col-md-7">{{ medic.genero }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Correo:</strong>
                                <div class="col-12 col-md-7">{{ medic.email }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Teléfono:</strong>
                                <div class="col-12 col-md-7">{{ medic.phone }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5">Dirección:</strong>
                                <div class="col-12 col-md-7">{{ medic.address }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Botones para editar y eliminar -->
            <div class="d-md-flex justify-content-md-end" *ngIf="isAdmin">
                <button class="btn bg-aqua text-white m-1" [routerLink]="['/medic/update', medic._id]">
                    Editar
                </button>
                <button class="btn btn-danger m-1" (click)="deleteMedic(medic._id)">
                    Eliminar
                </button>
            </div>
        </ng-template>
    </div>
</div>
        