<div class="justify-content-md-center align-items-center animated fadeIn" >
    <div class="card rounded-lg shadow mb-5 bg-white rounded">
        <div class="card-body">
                <h1 class="card-title text-center mr-2 text-aqua-dark">Acerca de Nosotros</h1>
                <div class="container col-md-8 mb-3">
                    <h5 class="text-aqua-dark">Consulta Externa</h5>
                    <p class="mb-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nisi in sem tincidunt imperdiet ut a libero. Nulla facilisi. Nullam feugiat malesuada egestas. Praesent varius dignissim efficitur. Pellentesque lacinia semper enim, eget tincidunt libero elementum vitae. Nam ac tincidunt leo, in iaculis sem. Donec a volutpat diam. In eget ante porttitor, pharetra nibh sagittis, ullamcorper est.
                    </p>
                    <br>
                    <p>
                        Phasellus auctor justo lectus, vel semper purus pulvinar vehicula. Phasellus a nisl mollis, ornare ex id, gravida velit. Duis ornare eu turpis et dapibus. Suspendisse sodales arcu eget enim auctor facilisis. Integer malesuada pellentesque libero nec cursus. Etiam tincidunt nunc diam, in sodales odio finibus tincidunt. Integer ultrices neque sed nunc viverra, ut tincidunt lorem porta. Nullam sed porttitor urna. Nunc gravida dignissim libero vitae pretium. Phasellus venenatis sapien id urna eleifend, id consequat ex hendrerit. Etiam ornare dolor quis velit iaculis pharetra.
                    </p>
                </div>
                <hr>
                <div class="container col-md-8 mb-3">
                    <h5 class="text-aqua-dark">Nuestro Directorio</h5>
                    <p class="mb-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nisi in sem tincidunt imperdiet ut a libero. Nulla facilisi. Nullam feugiat malesuada egestas. Praesent varius dignissim efficitur. Pellentesque lacinia semper enim, eget tincidunt libero elementum vitae. Nam ac tincidunt leo, in iaculis sem. Donec a volutpat diam. In eget ante porttitor, pharetra nibh sagittis, ullamcorper est.
                    </p>
                    <br>
                    <ul>
                        <li>Presidente: XXXXXX</li>
                        <li>Vicepresidente: XXXXXX</li>
                        <li>Secretario: XXXXXX</li>
                        <li>XXXXXX</li>
                        <li>XXXXXX</li>
                    </ul>
                </div>
        </div>
    </div>
</div>