<div class="justify-content-md-center align-items-center animated fadeIn" >
    <div class="neo shadow mb-2 bg-white">
        <div class="card-body">
                <h1 class="card-title text-center mr-2 text-aqua-dark">Acerca de Nosotros</h1>
                <div class="container col-md-8 mb-3">
                    <p class="text-justify">
                        Somos una empresa que ofrece la más avanzada tecnología en el diagnóstico y tratamiento de las diferentes patologías, así como unas instalaciones acogedoras y amplias con excelentes salas de espera, habitaciones, cafetería, farmacia, etc.
                    </p>

                    <p>
                        <span class="text-aqua-dark">MISIÓN</span><br>
                        Es una institución prestadora de servicios de salud que garantiza plenamente la mayor calidad, buscando preservar la salud de la población, logrando la completa recuperación y bienestar en nuestros pacientes.
                    </p>
                    <p>
                        <span class="text-aqua-dark">VISIÓN</span><br>
                        Ser una empresa de salud líder en la provincia, ofreciendo servicio de salud diversificados de alta calidad, con moderna tecnología y a precio razonable y competitivo.
                    </p>
                    <p>
                        <span class="text-aqua-dark">VALORES</span><br>
                        Solidaridad, Justicia, Lealtad, Ética.
                    </p>
                    <p>
                        <span class="text-aqua-dark">FILOSOFÍA</span><br>
                        Mantenernos a la vanguardia médica y hospitalaria. Brindando un trato humano y personalizado a todos y cada uno de nuestros pacientes y esforzarnos continuamente para contar con la tecnología más avanzada y un cuerpo médico altamente capacitado.
                    </p>
                        <span class="text-aqua-dark">NUESTRAS METAS</span><br>

                    <ol>
                        <li>
                            Garantizar la accesibilidad, el adecuado confort y la atención personalizada que demande el cliente.
                        </li>
                        <li>
                            Fomentar los canales de comunicación y cooperación con Atención Primaria, de forma que se garantice de manera eficaz la continuidad del proceso asistencial a los pacientes de nuestra área geográfica.
                        </li>
                        <li>
                            Desarrollar el máximo nivel de prestaciones asistenciales que sean posibles y razonables en el centro facilitando la incorporación de nuevas tecnologías y garantizando un uso eficiente de los recursos. 
                        </li>
                    </ol>
                </div>
                <br>

                <div class="text-center">
                    <img class="img-fluid" src="../../../../assets/img/doctores.jpg" alt="medico">
                </div>
                <br>


                <div class="container col-md-8 mb-3">
                    <p class="mb-1">
                        Usted recibe atención de calidad por parte de nuestro equipo de profesionales. Usted y nuestro equipo de atención médica trabajarán juntos para identificar y resolver todas sus necesidades médicas, conductuales y de educación sanitaria. Nuestro equipo estará lidereado por su médico de cabecera y también podría incluir a las enfermeras, asesores en salud conductual, farmacéuticos y educadores de la salud.
                    </p>
                    <p>
                        Usted es la parte más importante de nuestro equipo de atención médica. Cuando usted se involucra activamente en su salud y trabaja estrechamente con nosotros, puede estar seguro de que está obteniendo la atención que necesita para su cuerpo, mente y espíritu.
                    </p>
                    <h5 class="text-aqua-dark">Nuestro Directorio</h5>
                    <br>
                    <ul>
                        <li>Presidente: Dr. Marti Feijoo</li>
                        <li>Vicepresidente: Dr. William Rodrguez</li>
                        <li>Secretario: Joaquina Marti</li>
                        <li>77007700</li>
                        <li>4215823</li>
                    </ul>
                </div>
        </div>
    </div>
</div>