<div class="card rounded-lg shadow mb-5 bg-white rounded animated fadeIn">
    <div class="card-body">
    <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1 class="text-aqua-dark">Lista de Pacientes</h1>
        <div>
            <a class="btn bg-aqua text-white" [routerLink]="['/patient/create']" routerLinkActive="router-link-active"  role="button">Nuevo Paciente</a>
        </div>
    </div>
        <div *ngIf="!loading; else main_content">
            <h1 class="text-aqua-dark">Cargando...</h1>
            <span class="spinner-border text-aqua-dark"></span>
        </div>
        
        <ng-template #main_content>
            <!-- No data message -->
            <h2 *ngIf="patients.length == 0" class="no-data text-center text-aqua-dark">No existen pacientes añadidos!</h2>
            
            <!-- patient list -->
            <table class="table table-sm table-hover table-responsive-md table-fixed " *ngIf="patients.length > 0">
            <thead class="bg-aqua text-white">
                <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody class="overflow-auto">
                <tr *ngFor="let patient of patients; let i = index">
                <td scope="col" (click)="selectedPatient(patient._id)">{{patient.username}}</td>
                <td scope="col" (click)="selectedPatient(patient._id)">{{patient.firstName}} {{patient.lastName}}</td>
                <td scope="col" (click)="selectedPatient(patient._id)">{{patient.phone}}</td>
                <td scope="col" class="text-center">
                    <a [routerLink]="['/history', patient._id]" class="mr-2" title="Historial Clínico"><i class="fas fa-notes-medical text-aqua-dark"></i></a>
                    <a [routerLink]="['/patient/update', patient._id]" class="mx-1" title="Editar"><i class="fas fa-edit text-info"></i></a>
                    <a (click)="removePatient(patient, i)" class="ml-1" *ngIf="isAdmin" title="Eliminar"><i class="fas fa-trash text-danger"></i></a>
                </td>
                </tr>
            </tbody>
            </table>
        </ng-template>
    </div>
</div>
