<div *ngIf="!patient; else main_content">
    <h1 class="text-aqua-dark">Cargando...</h1>
    <span *ngIf="loading" class="spinner-border text-aqua-dark"></span>
</div>

<ng-template #main_content>
        <div class="card rounded-lg shadow mb-5 bg-white rounded">
            <div class="card-body">
            
                <h1 class="text-aqua-dark mb-3">Perfil de paciente</h1>
            
                <div class="row d-flex align-items-center justify-content-around mb-2">
                    <div class="col-md-5 d-flex align-items-center justify-content-around">
                        <img [src]="'http://localhost:4000/' + patient.imagePath" 
                            class=" imgfluid imgRedonda border" *ngIf="avatar" >
                        <i class="fas fa-user-circle fa-10x text-aqua-dark" *ngIf="!avatar"></i>
                    </div>
                    <div class="col-md-7 ">
                        <div class="py-2 row">
                            <div class="col-md-8">
                                <strong class="ml-3">Código Paciente:</strong>
                            </div>
                            <div class="col-md-8 ml-4">{{ patient.username }}</div>
                        </div>
                        <div class="py-2 row">
                            <div class="col-md-8">
                                <strong class="ml-3">Nombre:</strong>
                            </div>
                            <div class="col-md-8 ml-4">{{ patient.firstName }}  {{ patient.lastName }}</div>
                        </div>
                    </div>
                </div>
            
                <div class="row mt-lg-3 d-flex justify-content-center">
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Carnet:</strong>
                        <div class="ml-4">{{ patient.ci }} </div>
                    </div>
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Género:</strong>
                        <div class="ml-4">{{ patient.genero }} </div>
                    </div>
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Edad:</strong>
                        <div class="ml-4">{{ patient.age }} </div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-around">
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Correo:</strong>
                        <div class="ml-4">{{ patient.email }} </div>
                    </div>
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Teléfono:</strong>
                        <div class="ml-4">{{ patient.phone }} </div>
                    </div>
                    <div class="py-2 col-md-4">
                        <strong class="ml-3">Étnia:</strong>
                        <div class="ml-4">{{ patient.ethnicity }} </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-around">
                    <div class="py-2 col-md-6">
                        <strong class="ml-3">Estado Civil:</strong>
                        <div class="ml-4">{{ patient.maritalStatus }} </div>
                    </div>
                    <div class="py-2 col-md-6">
                        <strong class="ml-3">Ocupación:</strong>
                        <div class="ml-4">{{ patient.ocupation }} </div>
                    </div>
                </div>
            
                <div class="row d-flex justify-content-around">
                    <div class="py-2 col-md-6">
                        <strong class="ml-3">Lugar de Nacimiento:</strong>
                        <div class="ml-4">{{ patient.placeBirth }} </div>
                    </div>
                    <div class="py-2 col-md-6">
                        <strong class="ml-3">Dirección:</strong>
                        <div class="ml-4">{{ patient.address }} </div>
                    </div>
                </div>
            
                <div class="container row mt-4 d-md-flex justify-content-between align-content-center" id="buttons">
                    <button class="btn bg-aqua text-white ml-3" [routerLink]="['/history', patient._id]">
                        Historial Clínico
                    </button>
                    <div class="">
                        <button class="btn bg-aqua text-white m-1" [routerLink]="['/patient/update', patient._id]">
                            Editar
                        </button>
                        <button class="btn btn-danger m-1" (click)="deletePatient(patient._id)" *ngIf="isAdmin || isMedic">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
</ng-template>
