<div class="card rounded-lg shadow mb-2 bg-white rounded animated fadeIn">
    <div class="card-body">
        <h1 class="text-aqua-dark mb-3">Perfil Paciente</h1>
        
        <!-- Mensaje de cargando.. -->
        <div *ngIf="!patient; else main_content" class="container">
            <div class="d-md-flex p-2">
                <div class="mx-auto d-flex align-items-center">
                    <h1 class="text-aqua-dark mr-2">Cargando...</h1>
                    <span *ngIf="loading" class="spinner-border text-aqua-dark"></span>
                </div>
            </div>
        </div>

        <!-- Informacion del paciente -->
        <ng-template #main_content>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <img [src]="'http://localhost:4000/' + patient.imagePath" 
                        class=" imgfluid imgRedonda border" *ngIf="avatar" >
                    <i class="fas fa-user-circle fa-10x text-aqua-dark" *ngIf="!avatar"></i>
                </div>

                <div class="col-12 col-md-8 d-flex justify-content-center">
                    <div class="col-12 col-md-12 col-lg-11 mt-3 mt-md-0">
                        <div class="card" *ngIf="isAdmin || isMedic">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Código Paciente:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.username }}</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Nombre:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.firstName }}  {{ patient.lastName }}</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Carnet:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.ci }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Género:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.genero }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Edad:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.age }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Correo:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.email }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Teléfono:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.phone }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Étnia:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.ethnicity }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Estado Civil:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.maritalStatus }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Ocupación:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.ocupation }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Lugar de Nacimiento:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.placeBirth }} </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-md-flex p-2">
                                <strong class="col-12 col-md-5 col-lg-5">Dirección:</strong>
                                <div class="col-12 col-md-7 col-lg-7">{{ patient.address }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="mt-4 d-md-flex p-2 d-md-flex justify-content-sm-between">
                    <button class="btn bg-aqua text-white m-1" [routerLink]="['/history', patient._id]">
                        Historial Clínico
                    </button>
                    <div class="d-md-flex" *ngIf="isAdmin" id="options">
                        <button class="btn bg-aqua text-white m-1" [routerLink]="['/patient/update', patient._id]" id="btnOption">
                            Editar
                        </button>
                        <button class="btn btn-danger m-1" (click)="deletePatient(patient._id)" id="btnOption" *ngIf="isAdmin">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
