#formulario {
    bottom: 0px;
    position: absolute;
}

#userTo {
    top: 0px;
}

.imgRedonda {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#specialty {
    font-size: 12px;
}

#notify {
    top: 20%;
    position: absolute;
}

#from {
    font-size: 10px;
}

#messages {
    margin-bottom: 25px;
}

.chat {
    list-style: none;
}

#time {
    font-size: 10px;
}