<div *ngIf="!userSelected; else msg_content" id="notify" class="w-100">
    <div class="p-5 text-center">
        <i class="fas fa-user-circle fa-5x text-info"></i>
        <h2 class="text-center text-info">Seleccione un usuario</h2>
    </div>
</div>
<ng-template #msg_content>
    <div class="w-100 px-4 py-2 border-bottom bg-aqua" id="userTo" *ngIf="userSelected">
        <!-- Se muestra si se elige a un medico -->
        <div class="d-flex justify-content-start align-items-center" *ngIf="!isPatient">
            <img [src]="'http://localhost:4000/' + medic.imagePath" *ngIf="avatar"
            class=" imgfluid imgRedonda">
            <i class="fas fa-user-circle fa-3x text-white" *ngIf="!avatar"></i>
            <div class="ml-3 text-white">
                <h5 class="mb-0">{{medic.firstName}} {{medic.lastName}}</h5>
            </div>
        </div>
        <!-- Se muestra si se elige a un paciente -->
        <div class="d-flex justify-content-start align-items-center" *ngIf="isPatient">
            <img [src]="'http://localhost:4000/' + patient.imagePath" *ngIf="avatar"
            class=" imgfluid imgRedonda">
            <i class="fas fa-user-circle fa-3x text-white" *ngIf="!avatar"></i>
            <div class="ml-3 text-white">
                <h5 class="mb-0">{{patient.firstName}} {{patient.lastName}}</h5>
            </div>
        </div>
    </div>
    <!-- Mostrar los mensajes del chat -->
    <div class="overflow-auto" id="messages" #scrollMe>
        <div class="p-3">
            <!-- <div *ngFor="let message of messages" class="text-wrap bg-info rounded w-75 p-2 mb-1">
                <span class="text-white">
                    {{message.msg}}
                </span>
            </div> -->
            <li [ngClass]="{'d-flex align-items-end flex-column': message.from == currentUser._id}" class="chat"
                *ngFor="let message of messages">
                <div class="text-wrap bg-info rounded w-75 p-2 mb-1">
                    <span class="text-white">
                        {{message.msg}}
                    </span>
                    <span class="text-white d-flex align-items-end flex-column" id="time">
                        {{message.createdAt | slice:11:16 }}
                    </span>
                </div>
            </li>
        </div>
    </div>
    <div class="w-100" id="formulario">
        <div class="d-flex">
            <input class="form-control w-100" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && submitForm()" />
            <button class="btn bg-aqua text-white" (click)="submitForm()">Enviar</button>
        </div>
    </div>
</ng-template>