<div class="card rounded-lg shadow mb-5 bg-white rounded animated fadeIn">
    <div class="card-body">
    <div class="d-md-flex justify-content-between align-items-center mb-4">
        <h1 class="text-aqua-dark">Lista de Reservas</h1>
        <div class="d-flex">
            <!-- <div class="form-group mb-0 mx-2">
            <input type="text" class="form-control" name="filterMedic" placeholder="Buscar..." [(ngModel)]="filterMedic">
            </div> -->
            <a class="btn bg-aqua text-white" [routerLink]="['/reservation/create']" routerLinkActive="router-link-active" role="button" *ngIf="isAdmin || isMedic">Añadir Reservas</a>
        </div>
    </div>
        <div *ngIf="!loading; else main_content">
            <h1 class="text-aqua-dark">Cargando...</h1>
            <span class="spinner-border text-aqua-dark"></span>
        </div>

        <ng-template #main_content>
        <!-- No data message -->
        <h2 *ngIf="reservations.length == 0" class="no-data text-center text-aqua-dark">No existen reservas añadidas!</h2>
        
        <!-- medic list -->
        <table class="table table-sm table-hover" *ngIf="reservations.length > 0">
            <thead class="bg-aqua text-white">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Día</th>
                <th scope="col">Habilitado</th>
                <th scope="col" class="text-center" *ngIf="isAdmin || isMedic">Opciones</th>
            </tr>
            </thead>
            <tbody class="overflow-auto">
            <tr *ngFor="let reserva of reservations; let i = index">
                <td scope="col" >{{reserva.date.substring(0, 10)}}</td>
                <td scope="col" >{{reserva.hours}}</td>
                <td scope="col" >{{reserva.days}}</td>
                <td scope="col" *ngIf="reserva.enable">Habilitado</td>
                <td scope="col" *ngIf="!reserva.enable">Deshabilitado</td>
                <td scope="col" class="text-center" *ngIf="isAdmin || isMedic">
                <a [routerLink]="['/']" class="text-dark mr-2"  title="Editar"><i class="fas fa-edit text-info"></i></a>
                <a (click)="removeReservation(reserva, i)" class="ml-2" title="Eliminar"><i class="fas fa-trash text-danger"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        </ng-template>
    </div>
</div>
