.table-responsive{
    max-height: 35rem;  
}

thead tr:nth-child(1) th{
    background: #15B9C6;
    position: sticky;
    top: -1;
    z-index: 10;
}

.text-ellipsis {
    width: 150px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}