<img class="fondo" src="../../../assets/img/doctor-vestido-con-una-bata-blanca-y-una-corbata-azul-sosteniendo-una-carpeta_0.jpg" alt="doctor-vestido-con-una-bata-blanca-y-una-corbata-azul-sosteniendo-una-carpeta">
<div class="container p-5 margen-card">
    <div class="row justify-content-md-center align-items-center" >
        <div class="col-10">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title ">Bienvenido</h1>
              <h1 class="card-title ">Consultorio Médico</h1>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at sodales nunc. Nulla pellentesque metus scelerisque malesuada porttitor.
                In hac habitasse platea dictumst. Nam aliquam quis magna a maximus. Ut efficitur tellus justo, sed ultrices massa accumsan eget. Mauris sit amet turpis vel lorem hendrerit vehicula vitae quis lacus
              </p>
            </div>
          </div>
        </div>
    </div>
</div>

