<div class="container p-5 margen-card">
    <div class="row justify-content-md-center align-items-center" >
        <div class="">
          <div class="card rounded-lg shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
            <div class="row p-1">
                <i class="fas fa-stethoscope fa-4x pr-3 pl-3 color-icon"></i>
                <h1 class="card-title text-center">Bienvenido</h1>
            </div>
                <h1 class="card-title ">Consultorio Médico</h1>
                <!-- TODO cambiar el texto -->
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at sodales nunc. Nulla pellentesque metus scelerisque malesuada porttitor.
                In hac habitasse platea dictumst. Nam aliquam quis magna a maximus. Ut efficitur tellus justo, sed ultrices massa accumsan eget. Mauris sit amet turpis vel lorem hendrerit vehicula vitae quis lacus
              </p>
              <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
              <p>This page can be accessed by <u>all authenticated users</u>.</p>
              <p class="mb-1">Current user from secure api end point:</p>
              <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
              <ul *ngIf="userFromApi">
                  <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>

