<div class="card rounded-lg shadow mb-2 bg-white rounded animated fadeIn">
    <div class="card-body">
    
        <!-- Mensaje de cargando -->
        <div *ngIf="!history; else main_content" class="container">
            <div class="row">
                <div class="mx-auto d-flex">
                    <h1 class="text-aqua-dark">Cargando...</h1>
                    <span *ngIf="loading" class="spinner-border text-aqua-dark"></span>
                </div>
            </div>
        </div>

        <ng-template #main_content>
            <div class="d-flex justify-content-between mb-3 align-items-center">
                <h1 class="text-aqua-dark">Historia Clínica </h1>
                <h3 class="text-aqua-dark">{{date}}</h3>
            </div>

            <!-- Informacion general -->
            <div class="d-md-flex align-items-center">
                <div class="card w-100">
                    <div class="container row align-items-center">
                        <div class="col-md-5">
                            <strong>Médico:</strong>
                        </div>
                        <div class="col-12 col-md-7">{{ history.medic }} </div>
                    </div>
                </div>
                <div class="card w-100">
                    <div class="container row align-items-center">
                        <div class="col-md-5">
                            <strong>Especialidad:</strong>
                        </div>
                        <div class="col-12 col-md-7">{{ history.specialty }} </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Paciente:</strong>
                    </div>
                    <div class="col-md-9">{{ patient.firstName }} {{ patient.lastName }}</div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Motivo de Consulta:</strong>
                    </div>
                    <div class="col-md-9">{{ history.motivoConsulta }} </div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Enfermedad Actual:</strong>
                    </div>
                    <div class="col-md-9">{{ history.enfermedadActual }} </div>
                </div>
            </div>

            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Antecedentes Personales:</strong>
                    </div>
                    <div class="col-md-9">{{ history.antecedentesPersonales }} </div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Antecedentes Familiares:</strong>
                    </div>
                    <div class="col-md-9">{{ history.antecedentesFamiliares }} </div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Edad:</strong>
                    </div>
                    <div class="col-md-9">{{ history.age }} </div>
                </div>
            </div>
            <div class="card">
                <div class="container row align-items-center">
                    <div class="col-md-3">
                        <strong>Hábitos Tóxicos:</strong>
                    </div>
                    <div class="col-md-9">{{ history.habitosToxicos }} </div>
                </div>
            </div>
                
            <!-- Informacion solo pra medicos y administradores -->
            <div *ngIf="isAdmin || isMedic">
                <!-- Examen Fisico -->
                <h6 class="text-aqua-dark my-3">Examen Físico</h6>
                <div class="d-md-flex align-items-center">
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-6">
                                <strong>Peso:</strong>
                            </div>
                            <div class="col-md-6">{{ history.peso }} </div>
                        </div>
                    </div>
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-6">
                                <strong>Altura:</strong>
                            </div>
                            <div class="col-md-6">{{ history.altura }} </div>
                        </div>
                    </div>
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-6">
                                <strong>Talla:</strong>
                            </div>
                            <div class="col-md-6">{{ history.talla }} </div>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex align-items-center">
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-6">
                                <strong>FC:</strong>
                            </div>
                            <div class="col-md-6">{{ history.FC }} </div>
                        </div>
                    </div>
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-6">
                                <strong>FR:</strong>
                            </div>
                            <div class="col-md-6">{{ history.FR }} </div>
                        </div>
                    </div>
                    <div class="card w-100">
                        <div class="container row align-items-center">
                            <div class="col-md-8">
                                <strong>Temperatura:</strong>
                            </div>
                            <div class="col-md-4">{{ history.temperatura }} </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Impresión General:</strong>
                        </div>
                        <div class="col-md-9">{{ history.impresionGeneral }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Constitución:</strong>
                        </div>
                        <div class="col-md-9">{{ history.constitucion }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Facies:</strong>
                        </div>
                        <div class="col-md-9">{{ history.facies }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Actitud:</strong>
                        </div>
                        <div class="col-md-9">{{ history.actitud }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Decúbito:</strong>
                        </div>
                        <div class="col-md-9">{{ history.decubito }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Marcha:</strong>
                        </div>
                        <div class="col-md-9">{{ history.marcha }} </div>
                    </div>
                </div>
                
                <!-- Piel, fanera y tejido celular -->
                <div>
                    <h6 class="text-aqua-dark my-3">Piel, Faneras y Tejido Celular Subcutáneo</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Aspecto:</strong>
                            </div>
                            <div class="col-md-9">{{ history.aspecto }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Distribución Pilosa:</strong>
                            </div>
                            <div class="col-md-9">{{ history.distribucionPilosa }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Lesiones:</strong>
                            </div>
                            <div class="col-md-9">{{ history.lesiones }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Faneras:</strong>
                            </div>
                            <div class="col-md-9">{{ history.faneras }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Tejido Celular Subcutáneo:</strong>
                            </div>
                            <div class="col-md-9">{{ history.tejidoCelularSub }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Cabeza -->
                <div>
                    <h6 class="text-aqua-dark">Cabeza</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Cráneo y Cara:</strong>
                            </div>
                            <div class="col-md-9">{{ history.craneoCara }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Cuero Cabelludo:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cueroCabelludo }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Región Frontal:</strong>
                            </div>
                            <div class="col-md-9">{{ history.regionFrontal }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Región Orbitonasal:</strong>
                            </div>
                            <div class="col-md-9">{{ history.regionOrbitonasal }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Región Orofaringea:</strong>
                            </div>
                            <div class="col-md-9">{{ history.regionOrofaringea }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Cuello -->
                <div>
                    <h6 class="text-aqua-dark my-3">Cuello</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Inspección:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cInspeccion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Palpación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cPalpacion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Percusión:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cPercusion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Auscultación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cAuscultacion }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Respiratorio -->
                <div>
                    <h6 class="text-aqua-dark my-3">Respiratorio</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Inspección:</strong>
                            </div>
                            <div class="col-md-9">{{ history.rInspeccion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Palpación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.rPalpacion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Percusión:</strong>
                            </div>
                            <div class="col-md-9">{{ history.rPercusion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Auscultación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.rAuscultacion }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Cardiovascular -->
                <div>
                    <h6 class="text-aqua-dark mb-3">Cardiovascular</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Inspección:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cdInspeccion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Palpación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cdPalpacion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Auscultación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cdAuscultacion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Pulsos:</strong>
                            </div>
                            <div class="col-md-9">{{ history.cdPulsos }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Abdomen -->
                <div>
                    <h6 class="text-aqua-dark my-3">Abdomen</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Inspección:</strong>
                            </div>
                            <div class="col-md-9">{{ history.aInspeccion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Palpación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.aPalpacion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Percusión:</strong>
                            </div>
                            <div class="col-md-9">{{ history.aPercusion }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Auscultación:</strong>
                            </div>
                            <div class="col-md-9">{{ history.aAuscultacion }} </div>
                        </div>
                    </div>
                </div>
                
                <!-- Neurologo -->
                <div>
                    <h6 class="text-aqua-dark my-3">Neurólogo</h6>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Glasglow:</strong>
                            </div>
                            <div class="col-md-9">{{ history.glasglow }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Motilidad Activa:</strong>
                            </div>
                            <div class="col-md-9">{{ history.motilidadActiva }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Motilidad Pasiva:</strong>
                            </div>
                            <div class="col-md-9">{{ history.motilidadPasiva }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Motilidad Refleja:</strong>
                            </div>
                            <div class="col-md-9">{{ history.motilidadRefleja }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Pares Craneales:</strong>
                            </div>
                            <div class="col-md-9">{{ history.paresCraneales }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Sensibilidad Profunda:</strong>
                            </div>
                            <div class="col-md-9">{{ history.sensibilidadProfunda }} </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container row align-items-center">
                            <div class="col-md-3">
                                <strong>Sensibilidad Superficial:</strong>
                            </div>
                            <div class="col-md-9">{{ history.sensibilidadSuperficial }} </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tratamiento y diagnostico -->
            <div>
                <h6 class="text-aqua-dark my-3">Tratamiento y Diagnóstico</h6>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Diagnóstico:</strong>
                        </div>
                        <div class="col-md-9">{{ history.diagnostico }} </div>
                    </div>
                </div>
                <div class="card">
                    <div class="container row align-items-center">
                        <div class="col-md-3">
                            <strong>Tratamiento:</strong>
                        </div>
                        <div class="col-md-9">{{ history.tratamiento }} </div>
                    </div>
                </div>
            </div>

            <!-- Botones de edicion -->
            <div class="mt-4 d-md-flex justify-content-end align-content-center" id="buttons" *ngIf="isAdmin">
                <button class="btn bg-aqua text-white m-1" [routerLink]="['/history/update', history._id]">
                    Editar
                </button>
                <button class="btn btn-danger m-1" (click)="deleteHistory(history._id)">
                    Eliminar
                </button>
            </div>
        </ng-template>
    </div>
</div>
