<app-navbar></app-navbar>

<app-menu class="d-none d-md-none d-lg-block" id="menu" *ngIf="currentUser"></app-menu>
<div class="d-flex justify-content-center" id="content" [ngClass]="{'justify-content-lg-end': currentUser}">
  <div class="col-12 col-lg-9 col-xl-10">
    <xng-breadcrumb></xng-breadcrumb>
    <div class="container mt-md-4 mb-4 col col-lg-10 col-xl-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-chatbot id="chat"></app-chatbot>
<app-footer id="footer"></app-footer>
