<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
<div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
    <a class="nav-item nav-link " (click)="logout()">Logout</a>
</div>
</nav> -->

<app-navbar></app-navbar>
<!-- <app-navbar class="fixed-top"></app-navbar> -->

<div class="row w-100">
  <app-menu class="d-none d-md-none d-lg-block" *ngIf="currentUser"></app-menu>
  <div class="container mt-4 mb-4 w-75">
      <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
