<div class="card rounded-lg shadow mb-2 bg-white rounded animated fadeIn">
    <div class="card-body">

    <h1 class="text-aqua-dark mb-3">Cambiar Contraseña</h1>

        <form [formGroup]="passForm" (ngSubmit)="submitForm()" novalidate>
            <div class="col-12 col-md-6 mx-auto my-5 p-0">
                <div class="form-group">
                    <label class="mb-1">Contraseña*</label>
                    <input type="password" class="form-control" [ngClass]="{'is-invalid': passForm.controls['password'].errors?.required && passForm.controls['password'].touched}"
                    [formControlName]="'password'"  placeholder="Escriba su nueva contraseña"
                    #password/>
                    <!-- error -->
                    <div *ngIf="passForm.controls['password'].invalid && (passForm.controls['password'].dirty || passForm.controls['password'].touched)" class="text-danger font-weight-light font-error">
                        <div *ngIf="passForm.controls['password'].errors.required">
                            La contraseña es obligatoria.
                        </div>
                        <div *ngIf="passForm.controls['password'].errors.pattern">
                            La contraseña debe tener al menos 1 minúscula y 1 mayúscula.
                        </div>
                        <div *ngIf="passForm.controls['password'].errors.minlength">
                            La contraseña debe ser al menos 8 caracteres
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="mb-1">Confirmar Contraseña*</label>
                    <input type="password" class="form-control" [ngClass]="{'is-invalid': passForm.controls['confirmPassword'].errors?.required && passForm.controls['confirmPassword'].touched}"
                    formControlName="confirmPassword" placeholder="Vuelva a escribir su nueva contraseña"
                    #confirmPassword/>
                    <!-- error -->
                    <div *ngIf="passForm.controls['confirmPassword'].invalid && (passForm.controls['confirmPassword'].dirty || passForm.controls['confirmPassword'].touched)" class="text-danger font-weight-light font-error">
                        <div *ngIf="passForm.controls['confirmPassword'].errors.required">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                
                <div *ngIf="checarSiSonIguales()" class="text-danger">
                    Las contraseñas no coinciden
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-block text-white bg-aqua">
                        Cambiar Contraseña
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
