<div class="justify-content-md-center align-items-center animated fadeIn" >
    <div class="card rounded-lg shadow mb-5 bg-white rounded">
        <div class="card-body">
                <h1 class="card-title text-center mr-2 text-aqua-dark">Contáctanos</h1>
                <div class="container col-md-6">
                    <h5 class="text-aqua-dark">Información Institucional</h5>
                    <p class="mb-1">Dirección: <span>Av. xxxx #0000</span></p>
                    <p class="mb-1">Teléfonos: <span>4XXXXXXX - 7XXXXXXXX</span></p>
                    <p>Email: <span>info@gmail.com</span></p>
                    <form>
                        <div class="form-group">
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" aria-describedby="nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email" aria-describedby="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="motivo" id="motivo" aria-describedby="motivo" placeholder="motivo">
                        </div>
                        <button class="btn bg-aqua text-white" type="submit">Enviar</button>
                    </form>
                </div>
        </div>
    </div>
</div>