<div class="justify-content-md-center align-items-center animated fadeIn" >
    <div class="neo shadow mb-2 bg-white">
        <div class="card-body alto">
            <h1 class="card-title text-center text-aqua-dark mb-5">Contáctanos</h1>
            <div class="container col-md-9">
                <h5 class="text-aqua-dark">Información Institucional</h5>
                <p class="mb-1"><i class="fas fa-home mr-3 text-aqua-dark"></i>Dirección: <span>Av. Ayacucho #00, Cochabamba-Bolivia</span></p>
                <p class="mb-1"><i class="fas fa-phone mr-3 text-aqua-dark"></i>Teléfonos: <span>4215823 - 77007700</span></p>
                <p class="mb-1"><i class="fas fa-print mr-3 text-aqua-dark"></i>Fax: <span>+ 01 234 567 89</span></p>
                <p class="mb-1"><i class="fas fa-envelope mr-3 text-aqua-dark"></i>Email: <span>info@gmail.com</span></p>
            </div>
        </div>
    </div>
</div>