.navbar {
    position: relative;
    padding: 1.5rem 1rem;
}

.navbar-nav {
    padding-left: 2%;
}

.show {
    margin-top: 2%;
    height: 100vh;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0%;
    font-weight: bold;
}

/* Boton de menu collapsable */
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(245, 246, 247, 0.25);
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}


/* Css para desktop */

/* lista del navbar */
@media screen and (min-width:1000px) {
    
#lista-navbar {
    margin-left: 3rem;
}

}

/* CSS para phone */

@media screen and (max-width:1000px) {
    
#lista-navbar {
    margin-left: 1.2rem;
}

}