.navbar {
    position: relative;
    padding: 1.5rem 1rem;
}

/* .show {
    margin-top: 2%;
    height: 100vh; 
} */

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0%;
    font-weight: bold;
}

.activo {
    background: linear-gradient(to bottom, rgba(226,226,226,0) 0%, rgba(219, 219, 219, 0.041) 80%, rgba(254, 254, 254, 0.616) 100%);
}

.dropdown-item:hover {
    background: #15B9C6;
    color: white;
    cursor: pointer;
}
/* Boton de menu collapsable */
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(245, 246, 247, 0.25);
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.mouse {
    cursor: pointer;
}

/* Imagen de perfil */
.imgRedonda {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* Css para desktop */


/* lista del navbar */
@media screen and (min-width:1000px) {
    
#lista-navbar {
    margin-left: 3rem;
}


}

/* CSS para phone */

@media screen and (max-width:1000px) {

#lista-navbar {
    margin-left: 1.2rem;
}

#empty {
    padding-left: 1rem;
    padding-right: 1rem;
}

.show {
    margin-top: 2%;
    height: 100vh; 
}
}