<nav  class="navbar navbar-expand-lg navbar-light bg-aqua shadow justify-content-between">
    <!-- icono de navbar -->
    <button class="btn btn-toolbar navbar-toggler px-md-4" id="buttonMenu" type="button" data-target="#navbarNav" 
        aria-controls="navbarNav" (click)="isShown=!isShown" [attr.aria-expanded]="isShown" aria-label="Toggle navigation">
        <span class="fas fa-bars fa-2x text-white"></span>
    </button>

    <!-- Titulo -->
    <div class="">
        <a class="navbar-brand text-white" [routerLink]="['/']">Consultorio Médico</a>
    </div>
    <!-- Espacio vacio para centrar el titulo cuando el user no esta logueado -->
    <div id="empty" *ngIf="!currentUser"></div>

    <!-- Imagen de perfil y Dropdown para pantalla phone/tablet -->
    <div class="dropdown d-lg-none d-xl-none" *ngIf="currentUser">
        <div role="button" id="dropdownMenuLinkPhone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-3x text-white" *ngIf="!avatar"></i>
            <img [src]="'http://localhost:4000/' + currentUser.imagePath" *ngIf="avatar" 
                class=" imgfluid imgRedonda">
        </div>

        <!-- Menu dropdown abre al presionar el nombre del usuario -->
        <div class="dropdown-menu dropdown-menu-right rounded" aria-labelledby="dropdownMenuLinkPhone">
            <a class="dropdown-item" (click)="selected(currentUser._id)">Pérfil</a>
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </div>
    </div>

    <!-- Menu colapsable -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': isShown}">
        <ul class="navbar-nav mt-2 mt-lg-0 py-0">
            <li class="nav-item" id="lista-navbar">
                <a class="nav-link text-white" (click)="isShown=false" 
                    [routerLink]="['/nosotros']" routerLinkActive="activo">
                    NOSOTROS
                </a>
            </li>
            <li class="nav-item" id="lista-navbar">
                <a class="nav-link text-white" (click)="isShown=false" 
                    [routerLink]="['/servicios']" routerLinkActive="activo">
                    SERVICIOS
                </a>
            </li>
            <li class="nav-item" id="lista-navbar">
                <a class="nav-link text-white" (click)="isShown=false" 
                    [routerLink]="['/contacto']" routerLinkActive="activo">
                    CONTACTO
                </a>
            </li>
            <li class="nav-item" id="lista-navbar" *ngIf="!currentUser">
                <a class="nav-link text-white" (click)="isShown=false" 
                    [routerLink]="['/medic/signin']" routerLinkActive="activo">
                    MÉDICOS
                </a>
            </li>
            <li class="nav-item" id="lista-navbar" *ngIf="!currentUser">
                <a class="nav-link text-white" (click)="isShown=false" 
                    [routerLink]="['/patient/signin']" routerLinkActive="activo">
                    PACIENTES
                </a>
            </li>
            <!-- boton para cerrar sesion para phone/tablet -->
            <li>
                <a class="nav-link text-white d-lg-none d-xl-none mouse" id="lista-navbar" 
                    (click)="logout();isShown=false;" *ngIf="currentUser">
                    Cerrar Sesión
                </a>
            </li>
        </ul>
        
        <!-- Componente menu para phone/tablet -->
        <div class="mt-3">
            <app-menu class="width-sidebar d-block d-none d-md-block d-lg-none" *ngIf="currentUser" 
                (click)="isShown=false">
            </app-menu>
        </div>
    </div>

    <!-- dropdown de usuario logueado para desktop -->
    <div class="dropdown d-none d-md-none d-lg-block" *ngIf="currentUser">
        <div class="d-flex align-items-center" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- Nombre de usuario -->
            <a class="dropdown-toggle text-white mr-2" >
                {{currentUser.firstName}}
            </a>
            
            <!-- Imagen de perfil para pantalla desktop -->
            <div class="d-none d-md-none d-lg-block" *ngIf="currentUser">
                <i class="fas fa-user-circle fa-3x text-white" *ngIf="!avatar"></i>
                <img [src]="'http://localhost:4000/' + currentUser.imagePath" *ngIf="avatar"
                    class=" imgfluid imgRedonda">
            </div>  
        </div>
    
        <!-- Menu dropdown abre al presionar el nombre del usuario -->
        <div class="dropdown-menu dropdown-menu-right rounded" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" (click)="selected(currentUser._id)">Pérfil</a>
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </div>
    </div>
</nav>