<div class="card rounded-lg shadow mb-2 bg-white rounded animated fadeIn">
    <div class="card-body">
        <!-- Titulo y boton de ayuda -->
        <div class="d-md-flex justify-content-between mb-5 mb-md-0">
            <h1 class="text-aqua-dark mb-md-1">Generar reservas para consultas</h1>
        </div>
        <!-- formulario para crear reservaciones -->
        <div class="col-md-10 col-lg-12 col-xl-12 py-3">
            <form [formGroup]="angForm" (ngSubmit)="submitForm()">
                <div class="mb-4">
                    <p class="col-sm-12 col-form-label"><b>1: </b>Seleccione día(s) para habilitar reservas</p>
                    <div class="input-days px-3">
                        <div class="form-group d-flex justify-content-around align-items-center mr-3" *ngFor="let day of days">
                            <input type="checkbox" (change)="onChange(day, $event.target.checked)" formControlName="days" #Days>
                            <label for="days" class="ml-1 mb-0">{{day}}</label>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="form-group d-md-flex mb-4">
                        <label for="dateStart" class="col-sm-5 col-form-label"><b>2: </b>Desde Fecha:</label>
                        <input type="date" formControlName="dateStart" #dateStart required>
                    </div>
                    <div class="form-group d-md-flex mb-4">
                        <label for="dateEnd" class="col-sm-5 col-form-label"><b>3: </b>Hasta Fecha:</label>
                        <input type="date" formControlName="dateEnd" #dateEnd required>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="interval" class="col-sm-12 col-form-label"><b>4: </b>Intervalo de horas:</label>
                    <div class="d-flex justify-content-around">
                        <div class="form-check" (click)="interval(20)">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                20 min
                            </label>
                        </div>
                        <div class="form-check" (click)="interval(30)">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                30 min
                            </label>
                        </div>
                        <div class="form-check" (click)="interval(60)">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                1 hora
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mt-3 col-md-6 mx-auto">
                    <div class="form-group" *ngIf="intervalo==20">
                        <select class="custom-select" formControlName="hours" #Hours multiple>
                            <option [ngValue]="hour" *ngFor="let hour of hours3">{{hour}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="intervalo==30">
                        <select class="custom-select" formControlName="hours" #Hours multiple>
                            <option [ngValue]="hour" *ngFor="let hour of hours">{{hour}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="intervalo==60">
                        <select class="custom-select" formControlName="hours" #Hours multiple>
                            <option [ngValue]="hour" *ngFor="let hour of hours2">{{hour}}</option>
                        </select>
                    </div>
                </div>
                <p class="mb-0">
                    <li class="list-unstyled font-weight-lighter"><i>Para escoger más de una opción, utilice (ctrl+click) ó (shift+click).</i></li>
                </p>
                <div class="form-group mt-4 text-center">
                    <button type="submit" [disabled]="angForm.invalid" class="btn btn-block text-white bg-aqua" [ngClass]="{disabled: !angForm.valid}">
                        Habilitar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>