/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    position: relative;
}
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;

    background-image: url(assets/img/doctor-vestido-con-una-bata-blanca-y-una-corbata-azul-sosteniendo-una-carpeta_0.jpg);
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: aquamarine;
}

app-footer {
    width: 100%;
    color: white;
}

.bg-aqua {
    background: #15B9C6;
}

.bg-aqua-light {
    background: #D5F2F3;
}

/* .alto {
    height: 75%;
} */

/* TODO aumentar animated fadeIn */