a {
    color: #f0e4e4;
    cursor: pointer;
}

a:hover {
    background-color: rgb(238, 238, 223);
    color: rgb(0, 151, 131);
  }

.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(0, 151, 131);
    text-decoration: none;
    background-color: #f0e4e4;
}

/* sidebar */
#sidebar {
    height: 100%;
    width: inherit;
}

/* Separadores */
.dropdown-divider {
    margin: 0;
}